@model IEnumerable<Totem.Entidades.PedidoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Cadastrar" class="btn btn-primary">Novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdProdutoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdProdutoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                   @Html.ActionLink("Editar", "Editar", new { id = item.Codigo }, new {@class= "btn btn-primary"} ) 
             @Html.ActionLink("Remover", "RemoverPorId", new { id = item.Codigo } , new {@class= "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
